*{
    background-color: rgb(1, 1, 21);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header{
    background: white;
   padding: 0px;
    border: 1px;
    border-color: aliceblue;
    border-radius: 10px;
    position: sticky;
    text-align: center;
}
h1{
    background: transparent;
    text-transform: capitalize;
}
h3{
    background: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    background: transparent;
    color: grey;
    font-size: 30px;
    font-weight: 500;
    width: 20%;
    display: inline-block;
    text-align: center;
}
.menu{
    width: 55%;
    color: rgb(1, 13, 25);
    font-size: 22px;
    font-weight: 400;
    background: none;
    text-align: center;

}
.btn{
    width: 20%;
    text-align: center;
}
button{
    background: navajowhite;
    color: black;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 50px;
    border-color: aliceblue;
}
button:hover{
    background: black;
    color: white;
    transition: .3s;
}
.hero{
    padding: 10px 30px;
    margin-top: 20px;
    display: flex;
}
.heroimg{
    width: 50%;
}
.heroimg img{
    
    height: 400px;
    width: auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    
}
.herotext h1{
    color: white;
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px;
}
.herotext h2{
    color: antiquewhite;
    font-size: 30px;
    font-weight: 500;
}
.herotext p{
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
}
.form{
    display: flex;
    align-items: center;
    background: whitesmoke;
    padding: 60px;
}
.form h1{
    background: none;
    color: black;
    font-size: 35;
    font-weight: 500;
}
input{
    background: rgb(124, 118, 118);
    color: black;
    display: inline-block;
}